* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: auto;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: #18212a;


}

nav {
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 20px 17px;
    align-items: start;
    background: #18212a;



}

.check {
    display: none;
}

.menu_label {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    font-size: 1.1rem;
    color: #fff;
}

.menu_label i {
    border-radius: 4px;
    padding: 6px;
    transition: all .2s;
}


.menu_label h2 {
    font-size: 1.1rem;
}

nav .nav-save {
    display: flex;
    margin-right: 100px;
    gap: 20px;
    font-size: .9rem;
    color: #fff;
    padding: 0px 10px;
}

.menu-bar {
    width: 240px;
    height: 100vh;
    background: #1f1f1f;
    color: white;
    padding: 8px 10px;
    position: fixed;
    scroll-behavior: smooth;
    top: 0px;
    left: -100%;
    transition: .3s;
    border-radius: 20px;

}

.menu-bar .menu-bar-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 20px;
}

.menu-bar-header label i {
    padding: 6px;
    border-radius: 4px;
    transition: all .2s;
    font-size: 1rem;
}

.menu-content {
    height: calc(90vh - 50px);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.menu-content::-webkit-scrollbar {
    width: 4px;

}

.menu-content::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 20px;
}

.menu-content::-webkit-scrollbar-track {
    background: #1f1f1f;
}


.menu-content h5 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: .9rem;
    font-weight: 700;
}

.menu-content .menu-ul {
    display: flex;
    gap: 4px;

    flex-direction: column;

}

.menu-content .menu-ul li {
    list-style: none;
    padding: 8px;
    border-radius: 5px;
    transition: all .2s;
}

.active {
    background-color: #2d2d2d;
}

.menu-content .menu-ul li a {
    font-size: .9rem;
    color: #fff;
    text-decoration: none;
}

#menu_check:checked~.menu-bar {
    left: 0%;
}

.menu-bar .footer {
    padding: 10px;
    border-top: 2px solid #2d2d2d;
    display: flex;
    text-align: center;
    margin-top: 4px;
    border-radius: 4px;
    transition: all .2s;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
}


/* Hover effects */

.menu_label i:hover {
    background-color: #2d2d2d;
    cursor: pointer;
}

.menu-bar-header label i:hover {
    background-color: #2d2d2d;
    cursor: pointer;
}

.menu-content .menu-ul li:hover {
    background: #2d2d2d;
    cursor: pointer;

}

.menu-bar .footer:hover {
    background-color: #2d2d2d;
}


/* History bar */

.history-bar {
    width: 255px;
    height: 100%;
    display: flex;
    position: fixed;
    top: 60px;
    background-color: #18212a;
    right: -100%;
    padding: 5px 15px;
    transition: all .3s;

}

.history-bar p {
    font-size: .8rem;
    color: #fff;
}

.memory-bar {
    width: 255px;
    height: 100%;
    display: flex;
    position: fixed;
    top: 60px;
    background-color: #18212a;
    right: -100%;
    padding: 5px 15px;
    transition: all .3s;


}

.memory-bar p {
    font-size: .8rem;
    color: #fff;
}

#history_check:checked~.history-bar {
    right: 0%;
}

#memory_check:checked~.memory-bar {
    right: 0;
}


/* Main content */

.main {
    width: 80vw;
    height: 100%;
    display: grid;
    flex-direction: column;
    padding: 0 10px;

}

.main #inputBox {
    width: 100%;
    color: #fff;
    height: 13vh;
    background-color: #18212a;
    font-size: 3.5rem;
    padding: 0 20px;
    direction: rtl;
    border: none;
    outline: none;
}

.main #inputBox::placeholder {
    color: #fff;
}

.memory_buttons_box {
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 20px;
    padding: 5px 20px;
    background-color: #18212a;

}

.disabled {
    color: #525151;
    padding: 3px 10px;
    background-color: #18212a;
    border: none;
    border-radius: 5px;

}

.memory_buttons_box .memory-button {
    padding: 10px;
    background-color: #18212a;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .2s;
    cursor: pointer;
    border-radius: 5px;

}

.hidden {
    display: none;
}

.memory_buttons_box button:hover {
    background-color: #2c2c2c;
}

.calculator-buttons-box {

    display: flex;
    justify-content: start;
    box-sizing: border-box;

}

.calculator-buttons-box .button-div {
    display: flex;
    flex-direction: column;


}

.calculator-buttons-box button {
    width: 20vw;
    height: 11vh;
    font-size: 1.2rem;
    border-radius: 5px;
}

.calculator-buttons-box .last-btn {
    background-color: rgb(242, 39, 242);
    color: #fff;
}

.calculator-buttons-box button:hover {
    background-color: #9e9e9e;
    cursor: pointer;
}

.history-icon {
    display: none;
}

@media (max-width:650px) {
    nav .nav-save {
        margin-right: 0%;
        font-size: 1.3rem;
    }

    .nav-save .saved-label {
        display: none;
    }

    .main {
        width: 100%;
        /* height: auto; */
    }

    .calculator-buttons-box .button-div {
        width: 100%;
        height: 65vh;
    }

    .history-icon {
        display: flex;
    }

    .hidden {

        display: block;
    }

    .calculator-buttons-box button {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .memory_buttons_box {
        width: 1005;
        padding: 0%;
        justify-content: space-between;
        gap: 0px;

    }

}